.search_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}
.search_input {
    border-radius: 5rem;
    padding: 2rem 2.5rem;
    border-width: 0;
    width: 50rem;
    background-color: #a592f2;
    color: #ffffff;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
    font-size: 3rem;
}
.search_input::placeholder {
    color: #ffffff;
    font-size: 3rem;
}
.search_input:focus {
    outline: none;
}
